.GetStarted-Container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(328deg, #48dbfb, #0abde3);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

.GetStarted-Card {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.GetStarted-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -60px;
}

.GetStarted-Header h1 {
  font-size: 3rem !important;
  font-family: 'Open Sans';
  font-weight: bold;
  color: white;
}

.GetStarted-Header .GetStarted-title {
  float: left;
}

.GetStarted-Header .GetStarted-progress {
  float: right;
}

.GetStarted-Header .GetStarted-progress span {
  color: #feca57;
}

.GetStarted-Body {
  margin-bottom: 40px;
}

.GetStartedForm .formGroup-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GetStartedForm .formGroup-row .formGroup {
  width: 45%;
  margin-top: 0px;
}

.GetStartedForm .formGroup {
  margin-bottom: 16px;
  margin-top: 16px;
}

.GetStartedForm p {
  color: white;
  padding: 0px;
  margin-bottom: 8px;
  font-weight: bold;
}

.GetStartedForm p.fontWeightRegular {
  font-weight: 400;
}

.GetStartedForm input {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.GetStarted-Outline-Button {
  border: 2px solid white;
  width: 100%;
  margin: 12px auto;
  color: white;
  padding: 12px;
}

.GetStarted-Outline-Button.GetStarted-Outline-Button__active {
  background: white;
  color: #48dbfb;
}

.outlineInput {
  color: white !important;
  background: none;
  border: 2px solid white !important;
  padding-left: 20px;
  font-size: 16px;
  height: 50px;
}

.outlineInput.outlineInput--active {
  background: white;
  color: #48dbfb !important;
}

.outlineInput.outlineInput--active::-webkit-input-placeholder {
  color: background;
}

.outlineInput.outlineInput--active:-ms-input-placeholder {
  color: background;
}

.outlineInput.outlineInput--active::-ms-input-placeholder {
  color: background;
}

.outlineInput.outlineInput--active::placeholder {
  color: background;
}

.outlineInput.outlineInput--active:hover, .outlineInput.outlineInput--active:active, .outlineInput.outlineInput--active:focus {
  background: white;
}

.outlineInput::-webkit-input-placeholder {
  color: white;
}

.outlineInput:-ms-input-placeholder {
  color: white;
}

.outlineInput::-ms-input-placeholder {
  color: white;
}

.outlineInput::placeholder {
  color: white;
}

.outlineInput:hover, .outlineInput:active, .outlineInput:focus {
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.submit-button {
  width: 100%;
  background: #f368e0;
  border-color: #ef39d6;
}
/*# sourceMappingURL=index.css.map */