$border-radius: 10px !important;
$blue: #48dbfb;
$green: #10ac84;
$card-theme: $green;

.charity-card {
  position: relative;
  background: white;
  border-radius: $border-radius;
  height: 22rem;
  // min-width: 260px;
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12),
  0 2px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25),
    0 6px 6px rgba(0, 0, 0, 0.22);
  }

  a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }
}

.charity-card-header {
  background: #48dbfb;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  height: 40%;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.charity-card-body {
  margin: 16px;
}

.charity-card-title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(236, 240, 241);
  color: $card-theme;
}

.charity-card-description {
  font-size: 14px;
  margin: 8px auto;
}

.charity-card-footer {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;

  padding-top: 4px;
  border-top: 1px solid rgb(236, 240, 241);

  .charity-card-content {
    display: flex;
    justify-content: space-between;
  }
}

.charity-card-content {
  padding-bottom: 8px;
  padding-top: 2px;
}

.charity-card-item {
  display: flex;
  align-items: center;
  width: 22%;

  &.small-width {
    width: 18%;
  }

  span {
    line-height: 100%;
  }
}

.charity-card-item--green {
  color: $card-theme;
}

.card-item-add {
  cursor: pointer;
}