$border-radius: 10px !important;
$blue: #48dbfb;
$green: #10ac84;
$card-theme: $green;

.clickable:hover {

  .charity-card {
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
  }
}

.charity-card {
  text-decoration: none;
  background: white;
  border-radius: $border-radius;
  width: 100%;
  display: block;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  position: relative;

  h2, p {
    text-decoration: none;
  }

  @media (max-width: 576px) {
    padding: 1rem;
  }
}

.charity-card__header {
  text-align: center;

  h2 {
    font-weight: 600;
    font-size: 20px;
  }
}

.charity-card__logo {
  margin: 0 auto .5rem;
  overflow: hidden;
  width: 70px;
  height: 70px; 
  position: relative;

  img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  }
}

.charity-card__support {
  color: #10ac84;
  font-weight: 600;
}

.charity-card__footer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 576px) {
    padding-top: 1rem;
  }
}