* {
    margin: 0;
    padding: 0;
}

// input {
//     padding-top: 24px !important;
//     padding-bottom: 24px !important;
// }

h1, h2, h3, h4, h5 {
    // font-family: "Nexa";
    font-family: 'Open sans';
    font-weight: 600;
}

.label.label {
    padding-left: 0px;
}

.input.input {
    background: #f5f6fa;
    border: none;
    padding: 16px !important;
    height: 54px;
    border-radius: 8px;

    &:hover, &:active, &:focus {
        background: #f5f6fa;
    }
}

.full-width.full-width {
    width: 100%;
}

.full-height { 
    height: 100vh; 
}

.float-right {
    float: right;
}

.margin-none {
    margin: 0px;
}

.clickable {
    cursor: pointer;
}

.btn {
    border-width: 2px;
}

.btn-outline {
    border-width: 2px;
}

.subtext {
    color: lighten($color: #B3B3B3, $amount: 1);
}

// .btn-blue {
//     background-color: #00B9F1;
//     border-color: #00B9F1;

//     &:hover {
//         background-color: darken(#00B9F1, 0.9);
//     }
// }