.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    max-width: 720px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    max-width: 960px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

}

.floatingContainer {
  width: 180px;
  height: 50px;
  padding: 12px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;

  &--left {
    left: 0;
    background: #1abc9c;
  }

  &--right {
    right: 0;
    background: #54a0ff;
  }
}

.container-header {
  display: flex;
  justify-content: space-between;
  
  .container-header--title {
    display: flex;
    align-items: center;

    h2 {
      font-weight: 500;
    }
  }

  .container-header--back-button {
    display: flex;
    align-items: center;
    padding-right: 16px;
    border-right: 2px solid #888989;
    height: 100%;
    margin-right: 16px;
  }

  .btn-sort {
    color: gray;
    border: none;
    border-radius: 4px !important;
    background: white;
    
    small {
      font-weight: 600;
      margin-right: 8px;
    }
  }

}

.container-header-navigation {
  margin-top: 24px !important;
}

.container-body {
  height: 75vh;
  width: 100%;
  margin-top: 20px;
  padding: 1rem 0 2rem;
  // flex: 1 1;
  // max-width: 1140px;
  // padding-left: 15px;
  // padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;

}