.BaseCard {
  padding: 24px 24px 0px 24px;
  margin: 48px auto;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);

  .label {
    color: #666666;
    font-family: 'Open sans';
  }

  .creditCardInput {
    // padding-top: 12px !important;
    // padding-bottom: 12px !important;
    // border: none;
    // border-bottom: 1px solid;
    // border-radius: 0px;
  }

  .BaseCard-poweredByText {
    color: rgba(0, 0, 0, 0.30);
  }
}
