.topNav-container {
  height: 100%;
  border-left: solid 2px lightgray;
  // border-bottom: solid 2px lightgray;
  align-items: center;
}

.topNav-searchContainer {
  margin-left: 24px;
  display: flex;
  align-content: center;
  align-items: center;
}

.topNav-searchbar {
  border: none;
  padding: 4px;
  color: black;
  font-size: 16px;
  height: fit-content;
  font-weight: 600;
  margin-left: 12px;
  width: 100%;
}

.topNav-buttonContainer {
  float: right;
  margin-right: 30px;
  display: flex;
  
  p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .icon {
    cursor: pointer;
  }
}