.registration-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background: lighten(#9980FA, 10%);

    .step {
        width: 50%;
        height: 100%;
        position: absolute;
        
        &:last-child {
            left: 50%;
        }

        &.step__active {
            background: #9980FA;
        }        
    }
}