.cardForm__container {
  margin-top: 22px;
}

.cardForm__input {
  background-color: #F9F9F9;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  border: none;
  height: 48px;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 24px;
}

