.paymentContainer {
  background-color: white;
}

.paymentContainer_header {
  justify-content: center !important;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
}

.paymentContainer_header--title {
  font-family: "Nexa" !important;
  font-weight: 800 !important;
}